@model DotNetCore_Crud.Models.Employee

<form method="post" asp-action="AddOrEdit">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label>FullName</label>
        <input type="text" class="form-control" asp-for="FullName" />
    </div>
    <div class="form-group">
        <label>Position</label>
        <input type="text" class="form-control" asp-for="Position" />
    </div>
    <div class="form-group">
        <label>Office</label>
        <input type="text" class="form-control" asp-for="Office" />
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <input type="submit" value="Submit" class="btn btn-primary btn-block" />
        </div>
        <div class="form-group col-md-6">
            <a asp-action="Index" class="btn btn-outline-secondary btn-block">Back To List</a>
        </div>
    </div>
</form>
